@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Developerii acestui Task Manager sunt Alex si Marius. Scopul proiectului a fost sa creem o platforma cat mai 
    clutter-free care sa ne ajute cu nevoile de baza de la o astfel de implementare.
</p>

<p>
    Design-ul minimalist este subliniat si prin anumite elemente precum motto-ul site-ului nostru, dar la o versiune ulterioara acesta ar contine
    elemente concrete de design minimalist, ajutate de framework-uri precum BootStrap si React
</p>

<a href="https://trello.com/b/PwqEX4Si/task-manager">Link trello-ul proiectului</a>
